# created by virtualenv automatically
/.idea/
.venv/
/build/
/dist/
/permissions/
/__pycache__/
export.txt
main.spec
SMF9 Automated Indirect Role Assignment.spec
SMF9_Automated_Indirect_Role_Assignment.spec
